body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f0f8ff; /* Light blue */
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #ffc0cb; /* Pink */
    padding: 20px;
    height: 100vh;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar nav ul li a:hover {
    background-color: #f0f8ff; /* Light blue */
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

@media (min-width: 769px) {
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

.calculator {
    max-width: 400px;
    margin: 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 250px;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
}

.calculator.active {
    max-height: 500px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffc0cb; /* Pink */
}

button:hover {
    opacity: 0.8;
}

.output {
    margin-top: 20px;
    text-align: center;
    display: none;
    position: relative;
}

.shooting-star {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.output.active .shooting-star {
    opacity: 1;
}

.error-message {
    color: red;
    font-size: 0.8em;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #333;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 25%;
        min-width: 150px;
        height: 100%;
        position: fixed;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 999;
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .hamburger {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 1000;
    }
}
